:root {
    --accent-color:#2196F3;
    --logo-color:#2196F3;
    --main-text-color:#757575;
    --main-title-color:#212121;
    --second-background:#F5F4FA;
    --portfolio-first-btn-background:#F5F4FA;
    --portfolio-second-btn-background:#2196F3;
    --title-to-content-marging:50px;
    --typical-padding:32px;
    --padding-in-container:94px;
}

body {
    font-family: "Roboto", Tahoma, sans-serif;
    color:var(--main-text-color);
}
.link {
    text-decoration: none;
  }
  
.list {
    list-style: none;
}
  
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul, 
ol{
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container{
    width: 1200px;
    padding-left: 15px; 
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */

}

/*----------------------------------HEADER---------------------------------- */
.header{    
    border-bottom: 1px solid #ECECEC;
}

.header .container{
    display: flex;
    align-items: center;    
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 93px;
}

.logo {
    color:var(--logo-color);
}

.header-nav-list{
    display: flex;
}

.header-nav-link {    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.header-nav-link.current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color); 
}
.header-nav-link.current::after{
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.header-nav-item:not(:last-child){
    margin-right: 50px;
}

.header-nav-link:hover,
.header-nav-link:focus{
    color: var(--accent-color);
}

.header-contact{
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
    margin-left: auto;
    display: flex;
}
.header-email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email:hover,
.header-email:focus,
.footer-email:hover,
.footer-email:focus {
  color: var(--accent-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
.header-tel:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.header-email,.header-tel{
    display: flex;
    align-items: center;
}

.email-icon,.phone-icon{
    fill: currentColor;
    margin-right: 10px;
}


/*-----------------BANNER--------------- */
.banner {
    background-color: #2F303A;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;     
}

.banner .container{
    padding: 200px 0 200px 0;
}

.banner-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#ffffff;  
    max-width: 696px;  
    margin: 0 auto 30px;
    
}
.banner-btn {
    font-family: 'Roboto';
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 10px 32px;
    
}

/*-----------------SPECIFICITY--------------- */

.specificity{
padding-top: var(--padding-in-container);
padding-bottom: var(--padding-in-container);
}

.specificity-list{
    display: flex;
    margin-left: -30px;
}

.specificity-item{
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    
}
.speciticity-item-icon{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
    
.specificity-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-title-color);
    margin-bottom: 10px;
}

.specificity-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
    max-width: 270px;
    /* margin: 0 30px 10px 0; */
}
/*-----------------ABOUT-US--------------- */
.about-us{
    padding-bottom: var(--padding-in-container);
}
.about-us-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
    margin-bottom: var(--title-to-content-marging);
}
.about-us-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.about-us-item{
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    /* position: relative; */
}

.about-us-item-wrap{
    position: relative;
}

.about-us-item-title{
position: absolute;
bottom: 0;
background-color:rgba(47, 48, 58, 0.8) ;
color: #ffffff;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
line-height: 1.14;
letter-spacing: 0.03em;
padding: 27px 82px 27px 82px;
width: 100%;
/* overflow: auto; */
}



/*-----------------OUR-TEAM--------------- */
.our-team {
    background-color: var(--second-background);
    padding-top: var(--padding-in-container);
    padding-bottom: var(--padding-in-container);    
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: var(--title-to-content-marging);
}
.our-team-list{
    display: flex;
    margin-left: -30px;
}
.our-team-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: calc(100% / 4 - 30px);
    margin-left: 30px; 
}

.team-info{
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-team-top-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 10px;
}
.our-team-item-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 16px;    
}

.team-soc-list{
    display: flex;
    justify-content: center;
}
.team-soc-item +.team-soc-item{
    margin-left: 10px;
}
.team-soc-link{
    width: 44px;
    height: 44px;
    background-color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus{
    background-color:#2196F3;
}
.team-soc-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon{
    fill: #FFFFFF;
}

/*-----------------OUR CLIENTS--------------- */
.our-clients{
    padding-top: var(--padding-in-container);
    padding-bottom: var(--padding-in-container);
}
.our-clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
    margin-bottom: var(--title-to-content-marging);
}
.our-clients-list{
    display: flex;
    margin-left: -30px;
}
.our-clients-item{
    width: calc(100% / 6 - 30px);
    margin-left: 30px;      
}
.our-clients-item-icons{
    max-width: 170px;
    margin: 0 auto;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.our-clients-link{
    display: flex;
    justify-content: center;    
}
.our-clients-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-item-icons:hover,
.our-clients-item-icons:focus{
    border: 1px solid #2196F3;
    border-radius: 4px;
    
}
.our-clients-item-icons:hover .our-clients-icon,
.our-clients-item-icons:focus .our-clients-icon{
    fill: #2196F3;
}
/*-----------------FOOTER--------------- */
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;    
    display: block;       
}
.footer-item{
    font-style: normal;
}
.footer-item:not(:last-child){    
    margin-bottom: 9px;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 20px;
}
.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;   
}
.footer-email {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email:hover,
.footer-email:focus{
    color: var(--accent-color);
}
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-wrap{
    display: flex;
    align-items: baseline;   
}

.footer-contact{    
    margin-right: 70px;
    width: 40%;
}
.footer-soc{
    margin-right: 93px;
}
.social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#FFFFFF;
    margin-bottom: 20px; 
}

.footer-soc-list{
    display: flex;
    justify-content: center;
}

.footer-soc-item +.footer-soc-item{
    margin-left: 10px;
}
.footer-soc-link{
    width: 44px;
    height: 44px;
    background-color:#44454E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color:#2196F3;
}
.footer-soc-icon{
    fill: #FFFFFF;
}
.footer-soc:hover .footer-soc-icon,
.footer-soc:focus .footer-soc-icon{
    fill: #FFFFFF;
}

.footer-subscribe{
    width: 100%;
}
.footer-subscribe-field{
    display: flex;
    position: relative;
}

.footer-subscribe-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-subscribe-input{
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 0 15px 16px;
    color: #EEEEEE;
    outline: none;    
}
.footer-subscribe-input:focus{
    border-color: var(--accent-color);
}

.footer-subscribe-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 62px 10px 29px;
    margin-left: 12px;
    
}
.footer-subscribe-icon{
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
}
/*-----------------PORTFOLIO--------------- */
.portfolio .container{
    padding-top: var(--padding-in-container);
    padding-bottom: var(--padding-in-container);
}
.portfolio-btn-list{
    display: flex;
    justify-content:center;     
    margin-bottom: 20px; 
    
}
.portfolio-btn-item:not(:last-child){
    margin-right: 8px;    
}
.portfolio-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: var(--portfolio-first-btn-background);
    border-radius: 4px;
    border: none;
    color:#212121;
    padding: 6px 22px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active{
    cursor: pointer;
    color: #ffffff;  
    background-color: var(--portfolio-second-btn-background);
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.portfolio-item{
    background: #FFFFFF;  
    box-sizing: border-box;
    width: calc(100% / 3 - 30px);
    margin-left: 30px; 
    margin-top: 30px;
}

.portfolio-img-wrap {
    position: relative;
    overflow: hidden;
}
  
.portfolio-img-cover-text {
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding: 63px 24px 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}
.portfolio-item:hover,
.portfolio-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:hover .portfolio-img-cover-text{   
    transform: translateY(0%);
}

.item-text{
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 24px 20px;
}
.portfolio-top-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    margin-bottom: 4px;
        
}
.portfolio-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/*-----------------MODAL--------------- */
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.499);
    transition: opacity 700ms, visibility 700ms;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
.modal {
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 700ms;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    padding: 40px;
}
  
.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border:  1px solid rgba(0, 0, 0, 0.1);
  }
.modal-close-btn:hover{
    color: #2196F3;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal-form-fields{
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 10px;
    /* position: relative;    */
}
.modal-title{
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--main-title-color);
    margin-bottom: 12px;
}
.modal-form-label{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}
.form-fields-wrap{
    position: relative;
}
.field-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);   
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px; 
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.modal-input:hover,
.modal-input:focus{
    border-color:var(--accent-color);
}

.modal-input:hover + .field-icon,
.modal-input:focus + .field-icon{
    fill: var(--accent-color);
}
.user-text{
    width: 100%;
    height: 100px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none; 
}
.user-text::placeholder{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;    
    color: rgba(117, 117, 117, 0.5); 
      
}
.user-text:hover,
.user-text:focus {
    border-color: var(--accent-color);
}
.form-button{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 55px;
    margin: 0 auto;
}

.modal-checkbox-fields{
    margin-top: 10px;
    margin-bottom: 30px;
}

.accept-rules-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.accept-rules-text::before{
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    /* margin-right: 8.38px; */
}
/* .accept_rules-link{
    margin-left: 4px;
} */
.modal-checkbox:checked + .accept-rules-text::before{
    background-color: var(--accent-color);
    border: none;
    background-image: url(/img/icons/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}