.about-us{
    display: none;
    @media screen and (min-width: 768px) {
        display: none;
      }
      @media screen and (min-width: 1200px) {
        display:block;
        padding-bottom: var(--padding-in-container);
    
      } 
}
.about-us__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
    margin-bottom: var(--title-to-content-marging);
}
.about-us-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.about-us-list__item{
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}
.about-us-wrap{
    position: relative;
}
.about-us-wrap__title{
position: absolute;
bottom: 0;
background-color:rgba(47, 48, 58, 0.8) ;
color: #ffffff;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
line-height: 1.14;
letter-spacing: 0.03em;
padding: 27px 82px 27px 82px;
width: 100%;
}