.banner {
    background-color: #2F303A;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;     
}
.banner .container{
    padding: 118px 0 118px 0;
      @media screen and (min-width: 1600px) {
        padding: 200px 0 200px 0;
      }
}
.banner__text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#ffffff;  
    max-width: 360px;  
    margin: 0 auto 30px;  
    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
      }
      @media screen and (min-width: 1600px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
      }  
}
.banner__btn {
    font-family: 'Roboto';
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 10px 32px;    
}