.our-team {
    background-color: var(--second-background);
    padding-top:60px;
    padding-bottom: 60px;  
      @media screen and (min-width: 1600px) {
        padding-top: 94px;
        padding-bottom: 94px;
      }  
}
.our-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 30px;
        @media screen and (min-width: 1600px) {
            margin-bottom: var(--title-to-content-marging);
      }
}
.our-team-list{
    margin-left: -30px;
    margin-bottom: -30px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }
}
.our-team-list__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px; 
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
      }
      @media screen and (min-width: 1600px) {
        width: calc(100% / 4 - 30px);
      }
}
.team-info{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-info__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 10px;
}
.team-info__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 16px;    
}
.team-soc-list{
    display: flex;
    justify-content: center;
}
 .team-soc-list__item +.team-soc-list__item{
    margin-left: 10px;
}
.team-soc-list__link{
    width: 44px;
    height: 44px;
    background-color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
        background-color:#2196F3;
    }
}

.team-soc-list__icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .team-soc-list__link:hover &,
        .team-soc-list__link:focus &{
        fill: #FFFFFF;
    }
}
