:root {
    --accent-color:#2196F3;
    --logo-color:#2196F3;
    --main-text-color:#757575;
    --main-title-color:#212121;
    --second-background:#F5F4FA;
    --portfolio-first-btn-background:#F5F4FA;
    --portfolio-second-btn-background:#2196F3;
    --title-to-content-marging:50px;
    --typical-padding:32px;
    --padding-in-container:94px;
}